.timeline_company {
  float:left;
  width:100%;
  margin-bottom:20px;
  border-top:3px solid #f6f6f6;
}
.timeline_company_header {
  float:left;
  width:20%;
  height:100%;
}
.timeline_company_details {
  float:right;
  width:80%;
  margin-bottom:5px;
  border-top:1px solid #f6f6f6;
}
.indent_details {
  margin-left:20px;
}

.timeline_date {
  font-weight:bold;
  font-family:'Cutive Mono', monospace;
  font-size:12px;
}