.timeline_company {
  float:left;
  width:100%;
  border-bottom:3px solid #f6f6f6;
}
.timeline_company_details {
  float:left;
  width:20%;
  height:100%;
}
.timeline_role_details {
  float:right;
  width:80%;
  border-bottom:1px solid #f6f6f6;
}
.timeline_role_details:hover {
  background-color: #f6f6f6;
}
.indent_details {
  margin-left:20px;
}

.timeline_date {
  font-weight:bold;
  font-family:'Cutive Mono', monospace;
  font-size:12px;
}