<!doctype html>

<html>

    <head>
        <title>Oliver Burke | {{ page_title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Raleway&display=swap"
              rel="stylesheet">
        <link href="static/css/base.css"
              rel="stylesheet"/>
              
        {% block head %}
        
        {% endblock %}
    </head>
    
    <body>
        <div class="navbar-ul">
            <h1 class="page-title"> {{ page_title}} </h1>
            <ul class="list-inline" id="navbar-list">
                <li><a class="navbar-ref" href="/home">Home</a></li>
                <li><a class="navbar-ref" href="/timeline">Timeline</a></li>
                <li><a class="navbar-ref" href="/projects">Projects</a></li>
            </ul>
        </div>
        <div class="main">

            {% block body %}
            
            {% endblock %}
        </div>
    </body>

</html>